<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Rectangle Mobile Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/templatemo-style.css">
<script src="{{site.baseurl}}/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="site-bg"></div>
<div class="site-bg-overlay"></div>

<!-- TOP HEADER -->
<div class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p class="phone-info">My Blog</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
						<li><a href="#" class="fa fa-dribbble"></a></li>
						<li><a href="#" class="fa fa-rss"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div> <!-- .top-header -->
<div class="visible-xs visible-sm responsive-menu">
	<a href="#" class="toggle-menu">
		<i class="fa fa-bars"></i> Show Menu
	</a>
	
</div>
<div class="copyrights">Collect from <a href="http://www.mycodes.net" >免费模板</a></div>
<div class="container" id="page-content">
	<div class="row">


		
		<div class="col-md-9 col-sm-12 content-holder">
			<!-- CONTENT -->
			<div id="menu-container">
				  <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{page.title}}</h1>
          <h2 class="subheading">{{page.subtitle|default:page.excerpt}}</h2>
          <span class="meta">Posted by
            <a href="#">{{page.author|default: site.author}}</a>
            on {{page.date|date_to_long_string}}</span>
        </div>

      </div>

				<div id="menu-2" class="content about-section">
					<div class="row">
					</div>
				</div>

			</div>
		</div>



	</div>
	<div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
          {% if page.previous %}
            <a class="btn btn-primary float-left" href="{{site.baseurl}}/{{page.previous.url}}">上一篇： {{page.previous.title}}</a>
          {% endif %}
          {% if page.next %}
            <a class="btn btn-primary float-right" href="{{site.baseurl}}/{{page.next.url}}">下一篇： {{page.next.title}}</a>
          {% endif %}
        </div>
      </div>
    </div>
</div>

<!-- SITE-FOOTER -->


<script src="{{site.baseurl}}/js/vendor/jquery-1.10.2.min.js"></script>
<script src="{{site.baseurl}}/js/plugins.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
<!-- templatemo 439 rectangle -->
</body>
</html>

     
